<a href="https://colab.research.google.com/github/yogeshraparia28/Alternate-FX-Rates/blob/main/Mynotebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
import random

In [ ]:
df= random.sample(list(np.arange(1,100)),20)
df

[53, 57, 48, 12, 41, 88, 24, 22, 54, 56, 68, 67, 74, 5, 23, 26, 69, 61, 27, 89]

In [ ]:
def foo(x):
    return x + 1

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving nba.csv to nba.csv

In [ ]:

df2 = pd.read_csv('https://raw.githubusercontent.com/yogeshraparia28/Alternate-FX-Rates/main/nba.csv')

In [ ]:

from google.colab import files
df2.to_csv('testnba.csv') 
files.download('testnba.csv')

In [ ]:
my_list=4

In [ ]:
# Create an example dataframe about a fictional army
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'],
            'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'],
            'deaths': [523, 52, 25, 616, 43, 234, 523, 62, 62, 73, 37, 35],
            'battles': [5, 42, 2, 2, 4, 7, 8, 3, 4, 7, 8, 9],
            'size': [1045, 957, 1099, 1400, 1592, 1006, 987, 849, 973, 1005, 1099, 1523],
            'veterans': [1, 5, 62, 26, 73, 37, 949, 48, 48, 435, 63, 345],
            'readiness': [1, 2, 3, 3, 2, 1, 2, 3, 2, 1, 2, 3],
            'armored': [1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1],
            'deserters': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
            'origin': ['Arizona', 'California', 'Texas', 'Florida', 'Maine', 'Iowa', 'Alaska', 'Washington', 'Oregon', 'Wyoming', 'Louisana', 'Georgia']}

In [ ]:
df=pd.DataFrame(raw_data)

In [ ]:
df.index=df.origin

In [ ]:
df

              regiment company  deaths  ...  armored  deserters      origin
origin                                  ...
Arizona     Nighthawks     1st     523  ...        1          4     Arizona
California  Nighthawks     1st      52  ...        0         24  California
Texas       Nighthawks     2nd      25  ...        1         31       Texas
Florida     Nighthawks     2nd     616  ...        1          2     Florida
Maine         Dragoons     1st      43  ...        0          3       Maine
Iowa          Dragoons     1st     234  ...        1          4        Iowa
Alaska        Dragoons     2nd     523  ...        0         24      Alaska
Washington    Dragoons     2nd      62  ...        1         31  Washington
Oregon          Scouts     1st      62  ...        0          2      Oregon
Wyoming         Scouts     1st      73  ...        0          3     Wyoming
Louisana        Scouts     2nd      37  ...        1          2    Louisana
Georgia         Scouts     2nd      35  ...        1          3     Georgia

[12 rows x 10 columns]

In [ ]:
dt=df.filter( axis=1,regex='ttles|ea')
dt

            deaths  battles  readiness
origin
Arizona        523        5          1
California      52       42          2
Texas           25        2          3
Florida        616        2          3
Maine           43        4          2
Iowa           234        7          1
Alaska         523        8          2
Washington      62        3          3
Oregon          62        4          2
Wyoming         73        7          1
Louisana        37        8          2
Georgia         35        9          3